<!--Footer-->
<footer class="page-footer text-center font-small wow fadeIn">

  <!--Call to action-->
  <div class="pt-4">
    <!-- <a class="btn btn-outline-white" href="" role="button">Our Contacts -->
    <a class="btn btn-outline-white" role="button">Our Contacts
      <i class="fas fa-mobile"></i>
    </a>
  </div>
  <!--/.Call to action-->


  <!-- More Elabroate Footer --><!-- More Elabroate Footer --><!-- More Elabroate Footer -->

  
  <hr class="my-4">
  <!-- Social icons -->
  <div class="pb-4">
    <!-- <a href="https://www.facebook.com/" target="_blank">
      <i class="fab fa-facebook-f mr-3"></i>
    </a>

    <a href="https://twitter.com/" target="_blank">
      <i class="fab fa-twitter mr-3"></i>
    </a>

    <a href="https://www.youtube.com/" target="_blank">
      <i class="fab fa-youtube mr-3"></i>
    </a>

    <a href="https://plus.google.com/" target="_blank">
      <i class="fab fa-google-plus-g mr-3"></i>
    </a>

    <a href="https://dribbble.com/" target="_blank">
      <i class="fab fa-dribbble mr-3"></i>
    </a>

    <a href="https://pinterest.com/" target="_blank">
      <i class="fab fa-pinterest mr-3"></i>
    </a>

    <a href="https://github.com/" target="_blank">
      <i class="fab fa-github mr-3"></i>
    </a>

    <a href="http://codepen.io/" target="_blank">
      <i class="fab fa-codepen mr-3"></i>
    </a> -->
    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=chpmuncconference@gmail.com" target="_blank">
      <i class="far fa-envelope mr-3"></i>
    </a>

    <a href="https://www.instagram.com/chpmunc/" target="_blank">
      <i class="fab fa-instagram mr-3"></i>
    </a>

    <a href="https://twitter.com/chhsmodelun" target="_blank">
      <i class="fab fa-twitter mr-3"></i>
    </a>
  </div>
  <!-- Social icons -->

  <!--Copyright-->
  <div class="footer-copyright py-3">
    © 2019 Copyright:
    <a href="" target="_blank"> CHPMUNC </a>
  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->

<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="/js/mdb.min.js"></script>
<!-- SCRIPTS continued... -->