<!-- INCORPORATE <li class="nav-item active"> -->
<!-- More Elabroate Footer -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/header.ejs %>

  <!-- Custom styles -->
  <link href="/css/style.min.css" rel="stylesheet">
  <style type="text/css">
    html,
    body,
    header,
    .view {
      height: 100%;
    }

    @media (max-width: 559px) {

      html,
      body,
      header,
      .view {
        height: 700px;
      }
      /* h1[class="display-4 mb-4"] {
        font-size: 44px;
      }
      #time-counter {
        font-size: 3rem; 
      }
      h4[class="mb-4"] {
        font-size: 16px;
      } */
      h1[class="display-4 mb-4"] {
        font-size: 270%;
      }
      #time-counter {
        font-size: 220%; 
      }
      h4[class="mb-4"] {
        font-size: 100%;
      } 
    }

    @media (min-width: 560px) and (max-width: 740px) {

      html,
      body,
      header,
      .view {
        height: 700px;
      }
    }

    @media (min-width: 800px) and (max-width: 850px) {

      html,
      body,
      header,
      .view {
        height: 600px;
      }
    }

    @media (min-width: 800px) and (max-width: 850px) {
      .navbar:not(.top-nav-collapse) {
        background: #1C2331 !important;
      }
    }
  </style>
</head>

<body>
  <% include ../partials/nav.ejs %>

  <!-- Full Page Intro -->
  <div class="view">
    <video class="video-intro" poster="/img/background.jpg" playsinline autoplay
      muted loop>
      <source src="/img/video.mp4" type="video/mp4">
    </video>

    <!-- Mask & flexbox options-->
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

      <!-- Content -->
      <div class="text-center white-text mx-5 wow fadeIn">

        <h1 class="display-4 mb-4">
          <strong>Countdown to CHPMUNC II</strong>
        </h1>

        <!-- Time Counter -->
        <p id="time-counter" class="border border-light my-4"></p>

        <h4 class="mb-4">
          <strong>The Second Annual Chapel Hill Public Model United Nations Conference</strong>
        </h4>

        <!-- <h4 class="mb-4 d-none d-md-block"> -->
        <h4 class="mb-4">
          <strong>Hosted and directed by the Chapel Hill High School's Model UN Club</strong>
        </h4>

        <a style="font-size:12px;" href="/about" class="btn btn-outline-white">Learn More
          <i class="fas fa-book-open"></i>        
        </a>

        <a style="font-size:12px;" href="/register" class="btn btn-outline-white">Register Now
          <i class="far fa-edit"></i>
        </a>
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>
  <!-- Full Page Intro -->

  <% include ../partials/footer.ejs %>
  <!-- Initializations -->
  <script type="text/javascript">
    // Animations initialization
    new WOW().init();
  </script>

  <!-- Time Counter -->
  <script type="text/javascript">
    // Set the date we're counting down to
    // var countDownDate = new Date();
    // countDownDate.setDate(countDownDate.getDate()+30);
    var countDownDate = new Date(2020, 0, 11, 11).getTime();

    // Update the count down every 1 second
    var x = setInterval(function () {

      // Get todays date and time
      var now = new Date().getTime();

      // Find the distance between now an the count down date
      var distance = countDownDate - now;

      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);

      // Display the result in the element with id="demo"
      document.getElementById("time-counter").innerHTML = days + "d " + hours + "h " +
        minutes + "m " + seconds + "s ";

      // If the count down is finished, write some text
      if (distance < 0) {
        clearInterval(x);
        document.getElementById("time-counter").innerHTML = " CONFERENCE DATE! ";
      }
    }, 1000);
  </script>
</body>
</html>